$moveOffScreen:translateX(0);

.aboutSection {
        position: relative;
        padding: 50px 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include media(">=desktop") {
            background: $teal;
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-evenly;
    }

    &__copy {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        max-width: 980px;
        margin: 0 auto;
        
        

        h1{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0 0 0;
            font-weight: bold;
            font-size: 23px;
            background:#FFF;
            padding: 0;
            text-align: left;
            left: 0;
            color: #333333;
            transform: $moveOffScreen;
            opacity: 0;
            width: 0;
            height: 155px;
            overflow: hidden;
            span{
                opacity: 0;
            }
            @include media (">=desktop"){
                
                font-size: 43px;
                margin-bottom: 10px;
            }

        }
        p {
            font-size: 16px;
            color: #333;
            background:#fff;
            padding: 10px 20px 20px;
            left: 0;
            right: 0;
            margin: 20px auto;
            transform: $moveOffScreen;
            opacity: 0;
            width: 0;
            overflow: hidden;
            @include media(">=desktop"){
                
                margin: 0 0;
                left: 0;
            }

            span{
                opacity: 0;
            }
        }
        .button {
            border: 1px solid black;
            transform: translateX(0);
            opacity: 0;
            @include media ("<=phone"){
                display: block;
                position: relative;
                margin: 0 auto;
            }
        }
    }

}