.button {
    position: relative;
    padding: 15px 20px;
    background: #FFF;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #333;
    border-radius: 7px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: all 1s ease;
    margin: 15px 0;

    @include media("<=phone"){
        margin: 0 auto;
    }

    &:hover{
        transition: all 1s ease;
        background-color: white;
        border: 1px solid #fff;
        color: rgb(90, 89, 89);
    }
    
}