
.navbar-brand{
    font-family: 'Domine', serif;
}

.navbar__link {
    font-size: 12px;
}

.headline{
    font-family: 'Domine', serif;
    display: block;
    @include centerOnScreen();
    @include poly-fluid-sizing('font-size', (576px: 18px, 768px: 24px, 992px: 38px));
    color: white;
    text-align: center;
    z-index: 5;
    text-shadow: 1px 1px 0px rgba(150, 150, 150, 0.77); 


}