@import "../node_modules/include-media/dist/include-media";
@import "./sass/components/global";
@import "./sass/components/fonts";
@import "./sass/mixins/mixins";
@import "./sass/components/colors";
@import "./sass//components/animations";
@import "./sass//components/button";
@import "./sass/components/navigation";
@import "./sass/components/unsplash";
@import "./sass/components/location";
@import "./sass/components/Frost";
@import "./sass/components/Headline";
@import "./sass/components/AboutSection";
@import "./sass/components/ClientsSection";
@import "./sass//components/loader";
@import "./sass//components/Navbar";

body,
h1 {
  color: #333333;
}

.jumbotron {
  padding: 0 !important;
  .unsplash__bgimage {
    height: auto;
    @include media(">desktop") {
      height: 768px;
    }
  }
}
